$springPrimary: #6F83A1;
$springPrimaryDark: rgba(111, 131, 161, .96);
$springPrimaryMedium: rgba(111, 131, 161, .5);
$springPrimaryLight: rgba(111, 131, 161, .2);
$springSecondary: #C79FA2;
$springInfo: #94A36C;
$springSuccess: #96BA34;
$springDanger: #9E5459;