.form-ctrl {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 2px 0 10px;

  label {
    font-size: 14px;
    color: $springSecondary;
  }

  input {
    height: 28px;
    border-radius: 4px;
  }

  .error-message{
    font-size: 12px;
    color: $springDanger;
    margin-top: 2px;
    font-weight: bold;
  }

  &--bg-light {
    input {
      background-color: $springPrimaryLight;
      border: 1px solid $springPrimaryDark;
      outline: $springPrimaryDark;
      color: $springPrimary;

      &::placeholder {
        color: $springPrimaryMedium;
        font-size: 12px;
        padding-left: 2px;
      }
    }
  }
}